body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#wrapper {
    flex: 1;
}

#tag_osnove_1 {
    margin-left: 30%;
}

#tag_osnove_2 {
    margin-left: 50%;
}

#tag_osnove_3 {
    margin-left: 23%;
}

#tag_osnove_4 {
    margin-left: 22.5%;
}

#tag_zmerno_5 {
    margin-left: 10%;
}

#tag_zmerno_6 {
    margin-left: 44%;
}

#tag_zmerno_7 {
    margin-left: 47%;
}

#tag_poglobljeno_8 {
    margin-left: 32.5%;
}

#tag_poglobljeno_9 {
    margin-left: 30%;
}