<!doctype html>
<html lang="sl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">


    <link href="../CSS/cs_k3.css" rel="stylesheet">
    <title>Kviz 3</title>
</head>

<body>
  <nav class="navbar is-dark">
    <div class="navbar-brand">
      <a class="navbar-item is-size-4" href="../index.html">
        Varnostni kvizi
      </a>
      <div class="navbar-burger" data-target="navMenuColordark-example">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <div id="navMenuColordark-example" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="../index.html">
          Domov
        </a>
        <a class="navbar-item" href="../kviz_1_html/kviz_1_1.html">
          Kviz 1
        </a>
        <a class="navbar-item" href="../kviz_2_html/kviz_2_1.html">
          Kviz 2
        </a>
        <a class="navbar-item" href="../kviz_3_html/kviz_3_1.html">
          Kviz 3
        </a>
        <a class="navbar-item" href="../kviz_4_html/kviz_4_1.html">
          Kviz 4
        </a>
      </div>
    </div>
  </nav>

  <div id="wrapper" class="columns is-mobile mt-4">
    <div class="column is-1"></div>
      <div class="column is-10 has-background-light">
        <div class="block">
          <h3 class="title is-3 has-text-centered">SSTI - Vprašanje 5</h3>
          <form class="box">
            <p class="is-family-code is-size-3">V URL smo vpisali operacijo {{5*5}}. Kakšen izpis pa pričakujemo, če je stran res ranljiva?</p>
            <br>
            <label class="checkbox">
              <input id="ch1" type="checkbox"/>
              <img src="../Slike/ssti404.JPG" alt="404_1">
            </label>
            

            <label class="checkbox">
              <input id="ch2" type="checkbox"/>
              <img src="../Slike/sstiNeprav1.JPG" alt="404_2">
            </label>
            <br>

            <label class="checkbox">
              <input id="ch3" type="checkbox"/>
              <img src="../Slike/sstiNeprav2.JPG" alt="404_3">
            </label>
            

            <label class="checkbox">
                <input id="ch4" type="checkbox"/>
                <img src="../Slike/sstiNeprav3.JPG" alt="404_4">
              </label>
              <br>

            <div class="has-text-centered">
              <button onclick="kviz3_5()" class="has-text-centered button is-primary">Naslednje</button>
            </div>
          </form>

          <div id="skrito" style="display: none;">
            <article class="message is-danger">
              <div class="message-header">
                <p>Napačen odgovor!</p>
              </div>
              <div class="message-body">Poskusite še enkrat.</div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="columns is-mobile">
      <div class="column is-three-fifths is-offset-one-fifth">
        <progress class="progress is-success" value="9" max="10">90%</progress>
      </div>
    </div>
    <div class="column is-1"></div>
  </div>

  <footer class="footer has-background-dark has-text-primary-light">
    <div class="content has-text-centered">
      <p>
        &copy by Kuri Klemen, Nankovski Viktor, Pojbič  Gregor & Lukač Jan;
      </p>
      <p>
        Sklop predmeta OIV; 2021/2022
      </p>
    </div>
  </footer>
  <script src="../JavaScript/kviz_3_js/js_k3.js"></script>
</body>

</html>